<!--<p>Event Binding works!!</p>-->
<!--<button (click)="onAddCart()"> Add to Cart</button>-->

<br><br><br>
<p>{{msg}}</p>
<!--<input type="text"value="myinputtext"(click)="onInputClick($event)">-->
<!--<button value="tv"(click)="onAddCart($event)"> TV</button>
<button value="laptop"(click)="onAddCart($event)"> Laptop</button>
<button value="press"(click)="onAddCart($event)"> Press</button>-->
<input #inputInfo type="text"value="hello"name="Preet">
<button (click)="getInputInfo(inputInfo)">GetInfo</button>